body,
.input,
.button {
  font: normal 16px Verdana;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards > * {
  flex: 1 1 300px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.links {
  display: flex;
  align-items: center;
}

.links > * {
  flex: 1 1 160px;
}

.label {
  display: block;
  margin: 0 0 5px;
}

.input {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  margin: 0 0 10px;
  padding: 10px 15px;
  width: 100%;
}

.button {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  object-fit: fill;
}

.button:hover {
  background: #e8e8e8;
}

.add {
  height: 100%;
  width: 100%;
  font-size: 50px;
}
